.app {
  background-color: #fafafa;
  height: 100vh;
}

.app_posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight {
  margin-left: 50px;
}

@media (max-width: 38em) {
  .app__postsRight {
    display: none;
  }
}
